---
import type { Section } from "@/types";
import TwoStepContactForm from "../widgets/TwoStepContactForm.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import type { contactSectionSchema } from "@/sections.schema";
import type { TypeOf } from "astro:schema";
import OptimizedImage from "../utilities/OptimizedImage.astro";
import Icons from "@/helpers/Icons.astro";

type ContactSection = Section & TypeOf<typeof contactSectionSchema>;

type Props = {
  content?: ContactSection;
};

let defaultContent = (
  await getEntryCTM("sections", "contact-section", Astro.currentLocale)
)?.data as ContactSection;

let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as ContactSection;

let { enable = true, testimonial, title, form, list } = actualContent;
const rating = new Array(5).fill(null);

if (!enable) return null;
---

<section class="relative">
  <div class="container">
    <div
      class="flex flex-col justify-start gap-x-20 gap-y-10 lg:grid lg:grid-cols-12 lg:items-start">
      <div
        class="flex w-full flex-col lg:sticky lg:top-24 lg:col-span-5"
        data-aos="fade-right-sm">
        <div class="mb-10">
          {
            title && (
              <h2
                class="has-italic-text capitalize"
                set:html={markdownify(title)}
              />
            )
          }
        </div>
        {
          testimonial?.enable && (
            <div class="relative">
              <div class="translate-x-centered absolute bottom-5 w-[90%] rounded-lg bg-white/95 p-4 backdrop-blur-lg">
                <div class="inline-flex">
                  {rating.map((_) => (
                    <svg
                      class="h-5 w-5 fill-current text-yellow-500"
                      viewBox="0 0 20 20"
                      fill="currentColor">
                      <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                  ))}
                </div>
                {testimonial.content && (
                  <blockquote
                    class="leading-relaxed"
                    set:html={markdownify(testimonial.content)}
                  />
                )}
              </div>

              {testimonial.customer.avatar && (
                <OptimizedImage
                  src={testimonial.customer.avatar}
                  alt={testimonial.customer.name}
                  class="h-110 w-full rounded-3xl object-cover"
                />
              )}
            </div>
          )
        }
      </div>
      <TwoStepContactForm />
    </div>
  </div>
</section>
