---
import type { Section } from "@/types";
import type { TypeOf } from "astro:schema";
import { getEntryCTM } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import type { benefitsSectionSchema } from "@/sections.schema";
import OptimizedImage from "../utilities/OptimizedImage.astro";
import AnimatedText from "../widgets/AnimatedText.astro";

// Type
type SectionType = Section & TypeOf<typeof benefitsSectionSchema>;
type Props = {
  content?: SectionType;
};

// Default content fetch
let defaultContent = (
  await getEntryCTM("sections", "location", Astro.currentLocale)
)?.data as SectionType;

let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as SectionType;

let { enable = true, title, image } = actualContent as SectionType;

if (!enable) return;
---

<section>
  <div class="container space-y-10 md:space-y-16">
    {
      title && (
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="has-italic-text capitalize">
            <AnimatedText
              delay={0.2}
              stagger={0.09}
              content={markdownify(title)}
            />
          </h2>
        </div>
      )
    }

    {
      image && (
        <OptimizedImage
          data-aos="fade-up-sm"
          data-aos-delay="200"
          src={image}
          alt={title}
          class="w-full"
        />
      )
    }
  </div>
</section>
